<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <header>
      <div class="navigation">
        <nav>
          <ul>
            {% for page in site.pages_list %}
            <li>
              <a href="{{ page[1] }}">{{ page[0] }}</a>
            </li>
            {% endfor %}  
          </ul>
        </nav>
      </div>
  
      <div class='masthead'>
        <img class="headshot" src="../assets/josh.jpg" alt="A picture of Josh" />
        <h2>Josh Nelson</h2>
        <p>Software Engineer <span class="bullet">&bullet;</span> Portland, OR</p>
      </div>
    </header>

    <main class="container content">
      {{ content }}
    </main>

    <footer class="footer">
      <div class="button-container">
        <a href="https://github.com/joshcnelson" class="fab fa-github fa-2x"></a>&nbsp;
        <a href="https://www.linkedin.com/in/joshcdnelson/" class="fab fa-linkedin fa-2x"></a>&nbsp;
        <a href="mailto:joshcdnelson@gmail.com" class="fa fa-envelope fa-2x"></a>
      </div> 
      
      <small>
        &copy; 2018 Josh Nelson. All rights reserved.
      </small>
    </footer>

    {% if site.analytics_id %}
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
       ga('create', '{{ site.analytics_id }}', 'auto');
       ga('send', 'pageview');
     </script>
    {% endif %}
  </body>
</html>
